@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
  background-color: #000514;
}

/* Selection and focus styles */

::selection {
  background-color: #000076;
  color: white;
}

/* Scrollbar styles */

html {
  scrollbar-width: thin;
  scrollbar-color: #001d6c #000514;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #000514;
}
body::-webkit-scrollbar-thumb {
  background-color: #001d6c;
  border: 3px solid #000514;
  border-radius: 8px;
}
